.CarteJDR {
    border: 2px solid hsl(0 0% 40%);
    border-radius: 30px;
    cursor: pointer;
    background-color: black;
}
    .CarteJDR h2{
        text-align: center;
        margin-top: 20px;
    }
    .CarteJDR img{
        border-radius: 28px;
    }
    .CarteJDR a {
        color: hsl(0 0% 40%);
        text-decoration: none;
    }
    .CarteJDR a:hover {
        color: hsl(0 0% 40%);
        text-decoration: none;
    }
    .CarteJDR a:visited {
        color: hsl(0 0% 40%);
        text-decoration: none;
    }

body {
    font-family: "Geist Mono", monospace;
    font-size: 1.75rem;
    color: hsl(0 0% 40%);
}