:root {
    --main-color: hsl(0 0% 60%);
}


.Bouton-CygnusProjects-Redirect {
    border: 2px solid var(--main-color);
    font-family: "Geist Mono", monospace;
    font-size: 1.75rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2ch;
    border-radius: 10px;
    display: flex;
    width: 35vw;
    margin: auto;
    background-color: black;
    color: var(--main-color);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-right: 1rem;
}
    .Bouton-CygnusProjects-Redirect span{
        cursor: pointer;
    }

    .Bouton-CygnusProjects-Redirect:hover span{
        color: black;
    }


    .UsersIcone-Bouton-Container-CygnusProjects-Redirect:hover {
        background-color: #2563eb;
    }
    .ArchiveIcone-Bouton-Container-CygnusProjects-Redirect:hover{
        background-color: #9333ea;
    }
    .BookOpenIcone-Bouton-Container-CygnusProjects-Redirect:hover{
        background-color: #ea580c;
    }
    .GamePad2Icon-Bouton-Container-CygnusProjects-Redirect:hover{
        background-color: #db2777;
    }
    .SkullIcon-Bouton-Container-CygnusProjects-Redirect:hover{
        background-color: #16a34a;
    }


.Container-Bouton-CygnusProjects-Redirect span {
    align-content: center;
}

.Container-Bouton-CygnusProjects-Redirect a {
    text-decoration: none;
}
.Container-Bouton-CygnusProjects-Redirect a:hover {
    text-decoration: none;
}
.Container-Bouton-CygnusProjects-Redirect a:visited {
    text-decoration: none;
}

.Icone-Bouton-CygnusProjects-Redirect {
    padding: 1rem;
    margin-right: 3rem;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
    .UsersIcone-Bouton-CygnusProjects-Redirect {
        background-color: #2563eb;
    }
        .UsersIcone-Bouton-Container-CygnusProjects-Redirect:hover .UsersIcone-Bouton-CygnusProjects-Redirect{
            background-color: var(--main-color);
        }

    .ArchiveIcone-Bouton-CygnusProjects-Redirect {
        background-color: #9333ea;
    }
        .ArchiveIcone-Bouton-Container-CygnusProjects-Redirect:hover .ArchiveIcone-Bouton-CygnusProjects-Redirect {
            background-color: var(--main-color);
        }

    .BookOpenIcone-Bouton-CygnusProjects-Redirect{
        background-color: #ea580c;
    }
        .BookOpenIcone-Bouton-Container-CygnusProjects-Redirect:hover .BookOpenIcone-Bouton-CygnusProjects-Redirect {
            background-color: var(--main-color);
        }

    .GamePad2Icon-Bouton-CygnusProjects-Redirect{
        background-color: #db2777;
    }
        .GamePad2Icon-Bouton-Container-CygnusProjects-Redirect:hover .GamePad2Icon-Bouton-CygnusProjects-Redirect {
            background-color: var(--main-color);
        }

    .SkullIcon-Bouton-CygnusProjects-Redirect{
        background-color: #16a34a;
    }
        .SkullIcon-Bouton-Container-CygnusProjects-Redirect:hover .SkullIcon-Bouton-CygnusProjects-Redirect {
            background-color: var(--main-color);
        }


.Icone-Chevron-Right-CygnusProjects-Redirect {
    align-content: center;
    width: 40px;
    height: 40px;
    padding: 1rem;
    margin-right: 0;
    margin-left: auto;
}


.Container-Regles {
    background-color: black;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    width: 40vw;
    margin: 10rem;
    padding: 5rem;
    color: var(--main-color);
    text-align: left;
}
    .Container-Regles h2 {
        font-size: 3rem;
        text-align: center;
    }
    .Container-Regles p {
        font-size: 1.4rem;
    }
    .Container-Regles strong{
        font-size: 1.75rem;
    }
    .Container-Regles table {
        border: 3px solid var(--main-color);
        border-radius: 20px;
        border-collapse: collapse;
    }
    .Container-Regles td{
        border: 1px solid var(--main-color);
    }
    .Container-Regles thead{
        border-bottom: 3px solid var(--main-color);
    }
    .Container-Regles li{
        font-size: 1.4rem;
    }

.Container-Bouton-Retour {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    margin: 2rem;
    padding: 0.75rem;
}
    .Container-Bouton-Retour .Bouton-Retour{
        display: flex;
    }
    .Container-Bouton-Retour a {
        text-decoration: none;
    }
    .Container-Bouton-Retour a:hover {
        text-decoration: none;
    }
    .Container-Bouton-Retour a:visited {
        text-decoration: none;
    }
    .Container-Bouton-Retour span {
        align-content: center;
        cursor: pointer;
        color: var(--main-color);
    }
    .Container-Bouton-Retour .IconeChevron-Left-Bouton-Retour {
        width: 40px;
        height: 40px;
    }

    .Container-Bouton-Retour:hover{
        background-color: var(--main-color);
    }
    .Container-Bouton-Retour:hover span{
        color: black !important;
    }


.Container-Bouton-Retour-JDR {
    position: absolute;
    top: 8rem;
    left: 30rem;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 0.75rem;
    background-color: black;
}
    .Container-Bouton-Retour-JDR .Bouton-Retour-JDR {
        display: flex;
    }
    .Container-Bouton-Retour-JDR a {
        text-decoration: none;
    }
    .Container-Bouton-Retour-JDR a:hover {
        text-decoration: none;
    }
    .Container-Bouton-Retour-JDR a:visited {
        text-decoration: none;
    }
    .Container-Bouton-Retour-JDR span {
        align-content: center;
        cursor: pointer;
        color: var(--main-color);
    }
    .Container-Bouton-Retour-JDR .IconeChevron-Left-Bouton-Retour {
        width: 40px;
        height: 40px;
    }
    .Container-Bouton-Retour-JDR:hover {
        background-color: var(--main-color);
    }
    .Container-Bouton-Retour-JDR:hover span {
        color: black !important;
    }





/*MODES DE JEU*/
.Container-Modes-De-Jeu {
    background-color: black;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    width: 44vw;
    margin: 10rem;
    padding: 5rem;
    font-size: 1.4rem;
    color: var(--main-color);
    text-align: left;
    position: relative;
    margin-top: 3rem;
}
    .Container-Modes-De-Jeu h2 {
        font-size: 3rem;
        text-align: center;
    }
    .Container-Modes-De-Jeu p {
        font-size: 1.4rem;
    }
    .Container-Modes-De-Jeu strong {
        font-size: 1.75rem;
    }
    .Container-Modes-De-Jeu table {
        border: 3px solid var(--main-color);
        border-radius: 20px;
        border-collapse: collapse;
    }
    .Container-Modes-De-Jeu td {
        border: 1px solid var(--main-color);
    }
    .Container-Modes-De-Jeu thead {
        border-bottom: 3px solid var(--main-color);
    }
    .Container-Modes-De-Jeu li {
        font-size: 1.4rem;
    }


    .Container-Carac{
        margin-top: 1rem;
    }
        .Container-Carac thead{
            text-align:center;
            font-size: 1.75rem;
            font-weight: bold;
        }
        .Container-Carac table{
            margin-top: 3rem;
        }

    .Bouton-Affiche-Mode{
        position: relative;
        cursor: pointer;
        background-color: black;
        border: 2px solid;
        border-radius: 30px;
        text-align: center;
        width: 40vw;
        margin: auto;
        margin-top: 3rem;
    }
        .Bouton-Affiche-Mode span {
            position: absolute;
            right: 0;
            height: 110%;
            top: 0;
            align-content: center;
        }

/*ALIENS*/
.Container-Bouton-Select-Alien {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10rem;
}
    .Container-Bouton-Select-Alien .Bouton-Select-Alien {
        background-color: black;
        width: 8vw;
        padding: 2rem;
        margin: 1rem;
        border: 2px solid;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
        .Bouton-Select-Alien label{
            cursor: pointer;
        }

        .Bouton-Select-Alien-Actif{
            background-color: var(--main-color) !important;
            color: black !important;
            width: 10vw !important;
            margin: 0.5rem !important;
        }
            .Bouton-Select-Alien-Actif label {
                color: black !important;
            }

.Container-Icone-Bouton-Select-Alien{
    margin-right: 1rem; 
}


.Container-Details{
    margin: auto;
    display: none;
    margin-top: 5rem;
    margin-bottom: 15rem;
}
.Container-Details-Actif{
    display: block;
    width: 70vw;
}
    .Container-Details-Actif table{
        border: 2px solid;
        border-collapse: collapse;
    }
    .Container-Details-Actif tr td{
        border: 2.5px solid;
    }
    .Container-Details-Actif thead{
        border-bottom: 4px solid;
    }

.Bouton-Retour-CygnusProjects {
    position: absolute;
    top: 8rem;
    left: 30rem;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    padding: 0.75rem;
    display: flex;
    text-decoration: none;
}
    .Bouton-Retour-CygnusProjects:hover{
        background-color: var(--main-color);
    }
    .Bouton-Retour-CygnusProjects span {
        align-content: center;
        color: var(--main-color);
    }
        .Bouton-Retour-CygnusProjects span:hover{
            color: black;
        }
        .Bouton-Retour-CygnusProjects a {
            text-decoration: none;
        }
        .Bouton-Retour-CygnusProjects a:hover {
            text-decoration: none;
        }
        .Bouton-Retour-CygnusProjects a:visited {
            text-decoration: none;
        }
        .Bouton-Retour-CygnusProjects .IconeChevron-Left-Bouton-Retour{
            width: 40px;
            height: 40px;
        }
    .Bouton-Retour-CygnusProjects:hover {
        background-color: var(--main-color);
    }
    .Bouton-Retour-CygnusProjects:hover span {
        color: black !important;
    }


.Container-Details-Supplementaire{
    
}

.Table-Competences{
    background-color: black;
}

.Image-Details-Alien {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10rem;
    border: 2px solid;
    border-radius: 30px;
}

.Image-Details-Alien-Infos-Supplementaire {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3rem;
    border: 2px solid;
    border-radius: 30px;
}

.Container-Details-Larve {
    width: 15vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 2px solid;
    border-radius: 10px;
    margin-bottom: 5rem;
    padding: 1rem;
}

.Container-Infos-Evolution-Genitrix {
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-bottom: 3rem;
}
.Container-Infos-Type-Evolution {
    margin: auto;
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}
.Type-Evolution{
    margin: auto;
}
    .Type-Evolution img{
        margin: auto;
        display: block;
        border: 2px solid;
        border-radius: 20px;
    }

    .Container-Infos-Evolution{
        margin: 2rem;
        border: 2px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: black;
    }


.Table-Points-Receptacles {
    width: 50vw;
    margin: auto;
    margin-bottom: 3rem;
    background-color: black;
}   
    .TD-Table-Points-Receptacles{
        width: 2vw;
        text-align: center
    }


.Container-Infos-Recepacle {
    margin: auto;
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
}

.Receptacle {
    margin: auto;
}

.Receptacle img {
    margin: auto;
    display: block;
    border: 2px solid;
    border-radius: 20px;
}

.Container-Infos-Receptacle {
    margin: 2rem;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: black;
    width: 20vw;
}
    .Container-Infos-Receptacle label{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }


/*Opérateurs*/
.Container-Bouton-Select-Operateur {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
    .Container-Bouton-Select-Operateur .Bouton-Select-Alien {
        background-color: black;
        padding: 2rem;
        margin: 1rem;
        border: 2px solid;
        border-radius: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .Container-Operateur{
        margin-top: 20rem;
    }

.Image-Details-Operateur {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10rem;
    border: 2px solid;
    border-radius: 30px;
}


.Container-Global-Infos-Principales {
    width: 30vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 2px solid;
    border-radius: 30px;
    margin-bottom: 5rem;
    padding: 1rem;  
}
.Container-Attributs {
    display: flex;
    flex-direction: row;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 1rem;
    gap: 2rem;
}
    .Container-Attributs .Colonne {
        display: flex;
        flex-direction: column;
    }
.Container-Stats-Perso {
    margin: auto;
    gap: 3rem;
    display: flex;
}


/***********LISTE PROFIL***********/

.Container-Bouton-Creation-Profil {
    margin: auto;
    display: block;
    background-color: black;
    color: var(--main-color);
    border-radius: 10px;
    border: 2px solid;
    position: absolute;
    top: 8rem;
    right: 30rem;
    padding: 1rem;
}
    .Container-Bouton-Creation-Profil:hover{
        background-color: var(--main-color);
        color: black;
        cursor: pointer;
    }
    .Bouton-Creation-Profil {
        display: flex;
    }


    .Grand-Container-Form-Creation-Profil{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none;
    }

    .Container-Form-Creation-Profil{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(12px); 
        -webkit-backdrop-filter: blur(12px);
    }

    .Form-Creation-Profil{
        border: 2px solid;
        border-radius: 20px;
        padding: 5rem;
        background-color: black;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        position: absolute;
    }

    .Bouton-Valider{
        margin-right: 0;
        margin-left: auto;
        background-color: black;
        border: 1px solid green;
        color: green;
    }
        .Bouton-Valider:hover{
            background-color: green;
            color: white;
            border-color: white;
        }

    .Bouton-Annuler {
        margin-right: auto;
        margin-left: 0;
        background-color: black;
        border: 1px solid red;
        color: red;
    }

        .Bouton-Annuler:hover {
            background-color: red;
            color: white;
            border-color: white;
        }

    .Table-Listage-Profil{
        width: 60rem;
        background-color: black;
    }
        .Table-Listage-Profil td, tr {
            padding: 1rem;
        }

    .Bouton-Table-Listage-Profil{
        width: 30px;
        height: 30px;
        border: 2px solid var(--main-color);
        border-radius: 10px;
        background-color: black;
        padding: 1rem;
    }



/*************JOUER PROFIL*************/
.Container-Table-Competences-Capacites {
    display: flex;
    width: 100rem;
    margin-top: 15rem;
    margin-bottom: 15rem;
    flex-direction: column;
}
    .Container-Table-Competences-Capacites table {
        width: 100%;
        border: 2px solid;
        border-collapse: collapse;
        margin-top: 10rem;
        margin-bottom: 10rem;
        background-color: black;
    }
    .Container-Table-Competences-Capacites tr {
        height: 70px;
        border: 2px solid;
    }
    .Container-Table-Competences-Capacites td {
        padding: 2rem;
    }

    .Container-Table-Competences-Capacites h2{
        background-color: black;
        margin: auto;
        display: block;
        width: fit-content;
    }

    .Container-Table-Competences-Capacites .TR {
        cursor: pointer;
    }
        .Container-Table-Competences-Capacites .TR label {
            cursor: pointer;
            display: block;
            padding: 1rem;
        }
            .Container-Table-Competences-Capacites .TR :hover{
                color: white;
            }
            
            .Container-Table-Competences-Capacites tr:has(input[type="checkbox"]:checked) label{
                color: black;
            }
            .Container-Table-Competences-Capacites tr:has(input[type="checkbox"]:checked){
                color: black;
                background-color: var(--main-color);
                border-color: var(--main-color);
            }

    .Container-Table-Competences-Capacites .Container-DDL {
        position: relative;
        width: 320px;
        margin: 20px auto;
        background-color: black;
    }
    .Container-Table-Competences-Capacites .DDL {
        width: 100%;
        padding: 14px 50px 14px 20px;
        font-size: 18px;
        background-color: black;
        color: var(--main-color);
        border: 2px solid;
        border-radius: 12px;
        cursor: pointer;
        appearance: none;
        outline: none;
    }

        .chevron-down {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            transition: color 0.3s;
        }






/***********JOUER PROFIL**********/
.Container-Global-Carte-Personnage {
    max-width: 100rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
}
    .Container-Global-Carte-Personnage h2 {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

.Container-Carte-Personnage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Carte-Personnage {
    flex: 1 1 300px;
    max-width: 19rem;
    background: #111;
    border: 2px solid #444;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
    height: 500px;
    cursor: pointer;
}

    .Carte-Personnage img {
        width: 100%;
        height: 300px; 
        object-fit: contain; 
        background: #222; 
        border-radius: 15px,
    }
    .Carte-Personnage label{
        margin-top: 1rem;
    }

.Container-Niveau-Barre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.Progress-Barre {
    width: 100%; 
    background: #333;
    border-radius: 8px; 
}

.Barre {
    height: 20px;
    background: linear-gradient(to right, #00ff00, #00aa00);
    border-radius: 8px;
}




/****************BARRE NAVIGATION**********************/
.barre-navigation-fixe {
    position: fixed;
    top: 0.5rem;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 1rem;
    border-radius: 40px;
    z-index: 1000;
    border: 1px solid;
    left: 38%;
    font-size: 20px;
}

    .barre-navigation-fixe .button-nav {
        background: transparent;
        cursor: pointer;
        padding: 10px;
        border-radius: 20px;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-color);
    }

        .barre-navigation-fixe .button-nav:hover {
            color: black;
            background-color: var(--main-color);
            border-color: var(--main-color);
        }
        .barre-navigation-fixe .button-nav:focus {
            color: black;
            background-color: var(--main-color);
            border-color: var(--main-color);
        }
    .barre-navigation-fixe label {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: white;
    }


.Bouton-Jeu-Avec-Personnage-Complet{
    background-color: black;
    color: green;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    margin-top: 2rem;
}
    .Bouton-Jeu-Avec-Personnage-Complet:hover{
        border-color: green;
        background-color: green;
        color: white;
    }

    .Bouton-Jeu-Avec-Personnage-Complet a {
        text-decoration: none;
        color:green;
    }

        .Bouton-Jeu-Avec-Personnage-Complet a:hover {
            text-decoration: none;
            color: white;
        }

        .Bouton-Jeu-Avec-Personnage-Complet a:visited {
            text-decoration: none;
            color: white;
        }

.Bouton-Input-PV-Prot-Gauche,
.Bouton-Input-PV-Prot-Droite {
    color: var(--main-color);
    font-size: 40px;
    padding: 0;
    width: 4rem;
    height: 4rem;
    background-color: black;
    border: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0; 
    padding-bottom: 4px;
}
.Bouton-Input-PV-Prot-Gauche {
    border-radius: 12px 0 0 12px;
}
.Bouton-Input-PV-Prot-Droite {
    border-radius: 0 12px 12px 0;
}

    .Bouton-Input-PV-Prot-Gauche:hover,
    .Bouton-Input-PV-Prot-Droite:hover{
        background-color: var(--main-color);
        color: black;
        border-color: var(--main-color);
    }

.Input-PV-Prot {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    height: 4rem;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    text-align: center;
    width: 7.5rem;
    font-size: 1.25rem;
}
    .Input-PV-Prot::-webkit-inner-spin-button,
    .Input-PV-Prot::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
    }